
/* big tablets to 1200px (widts smallers than the 1140pxpx row) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 10%;
    }

    h1 { font-size: 207%; }
    .row {
        padding: 0 2%;
    }

    .logo { height: 160px; }
}

/* small tablets to big tables 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }
    h1 { font-size: 224%; }

    .row { padding: 0 4%; }

    .logo { height: 160px; }
}

/* for small phones to small tablets from 481 to 767px */
@media only screen and (max-width: 767px) {
   .section-our-story { padding: 40px 0 0 0; }
    body { font-size: 16px; }
    section { padding:  30px 0; }
    .logo { height: 80px;}

    .row,
    .hero-text-box { padding: 0 12%; top: 60%; }
    .hero-text-box p { padding: 0 40px; text-align: center; font-size: 17px; }
    h1 { 
        font-size: 120%;
        color: #222222;
        font-weight: bold; 
    }
    .section-title h2 { font-size: 160%; }
    .section-title p { padding: 0; font-size: 20px;}
    .col { width: 100% }

    .main-nav { display: none; }
    .program-feature-image img {
        height: 350px;
    }
    .col { margin: 1% 0 1% 0; }
    .main-our-story {
        margin-top: 0px;
    }
    .row-fix { padding: 0; }
    .content p { font-size: 18px; padding: 0 5%; }
    .our-story-picture { padding:  0 5%; }
    .program-section-area {
        background-size: 190px 209px;
        background-position: left top, right bottom;
        height: 100vh;
    }
    .clothes-area {
        height: 50vh;
        background-size: 150px 150px;
    }
    .program-section-title .content h3::after{
        left: 123px;
    }

    .program-one-details {
        padding-left: 0;
    }

    .sobre {
        width: 5%;
    }
}

/* for small phones 0 to 480px */
@media only screen and (max-width: 480px) {
    .program-feature-image img {
        height: 350px;
    }

    header { height: 37vh; }
    .logo { height: 50px; }
    .hero-text-box { padding: 0 4%; top: 25%; }
    .hero-text-box p { padding: 0 15px; text-align: center; font-size: 14px; }
    h1 { 
        text-align: center; 
        font-size: 91%;
        color: #222222;
        font-weight: bold; 
    }
    .section-title h2 {
        font-size: 150%;
    }
    .section-title p { padding: 0; font-size: 15px;}
    .row { padding:  0 5%; }
    .row-fix { padding: 0; }
    .main-our-story { 
        margin-top: 10px;
        background-size: 95px 227px;
        height: 217px; 
    }
    .content h3::after {
        left: 107px;
    }
    .content h3 { color: #222222; }
    .content p { font-size: 15px; padding: 0 5%; }
    .our-story-picture { padding:  0 5%; }
    .program-section-area {
        height: 37vh;
    }
    .program-one-details h3 {
        font-size: 150%;
    }

    .program-one-details {
        padding-left: 18px;
    }

    .program-section-area {
        background-size: 190px 209px;
        background-position: left top, right bottom;
        height: 50vh;
    }

    .clothes-area {
        height: 50vh;
        background-size: 80px 80px;
    }

    .program-section-title .content h3::after{
        left: 86px;
    }

    .sobre {
        width: 10%;
    }
}

